@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Slabo+27px");
* {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: "Slabo 27px", serif; }

a {
  text-decoration: none;
  color: #000; }
  a[hover-underline] {
    position: relative;
    color: #bf2a32;
    transition: color 0.2s ease-in-out; }
    a[hover-underline]::before, a[hover-underline]::after {
      content: none;
      position: absolute;
      width: 0%;
      height: 1px;
      background: #bf2a32;
      transition: width 0.2s ease-in-out; }
    a[hover-underline]::after {
      left: 50%;
      bottom: 0;
      transform: translate(-50%, 0); }
    a[hover-underline]:hover {
      color: #bf2a32; }
      a[hover-underline]:hover::before, a[hover-underline]:hover::after {
        width: 100%; }
    a[hover-underline]::before, a[hover-underline]:after {
      bottom: 0; }
    a[hover-underline]::before {
      background: rgba(91, 42, 50, 0.2);
      width: 100%; }

hr {
  margin: 0 0 1em 0;
  height: 1px;
  border: none;
  background: #eee; }

aside#loading {
  display: none;
  pointer-events: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: #fff; }
  aside#loading figure {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    animation: hd-figure 1.8s ease-in-out infinite; }
    aside#loading figure span {
      position: relative;
      float: left;
      display: inline-block;
      margin: 8px;
      width: 40px;
      height: 40px;
      border: 1px solid #bf2a32;
      font-family: "Times New Roman", Times, serif;
      animation: hd-span 1.8s ease-in-out infinite; }
      aside#loading figure span::after {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: 32px; }
      aside#loading figure span.hd_1::after {
        content: "H"; }
      aside#loading figure span.hd_2::after {
        content: "N"; }
      aside#loading figure span.hd_3::after {
        content: "Y"; }
      aside#loading figure span.hd_4::after {
        content: "A"; }
@keyframes hd-figure {
  0% {
    transform: translate(-50%, -50%) scale(-1.3, -1) rotate(-45deg); }
  40%, 50% {
    transform: translate(-50%, -50%) scale(-1.3, -1) rotate(135deg); }
  90%, 100% {
    transform: translate(-50%, -50%) scale(-1.3, -1) rotate(315deg); } }
@keyframes hd-span {
  0% {
    background: rgba(0, 0, 0, 0);
    color: #bf2a32; }
  40%, 50% {
    background: #bf2a32;
    color: #fff; }
  90%, 100% {
    background: rgba(0, 0, 0, 0);
    color: #bf2a32; } }
header {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1;
  width: 100vw;
  height: 80px;
  background: #fff;
  display: grid;
  grid-template-areas: "hdr-left hdr-logo hdr-nav";
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  transition: box-shadow 0.2s ease-in-out; }
  header.scrolled {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); }
  header #hdr-left {
    grid-area: hdr-left; }
    header #hdr-left #nav-trigger {
      cursor: pointer;
      position: relative;
      display: none;
      margin: 0 0 0 10px;
      width: 40px;
      height: 40px; }
      header #hdr-left #nav-trigger i {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%); }
        header #hdr-left #nav-trigger i, header #hdr-left #nav-trigger i::before, header #hdr-left #nav-trigger i::after {
          display: inline-block;
          width: 20px;
          height: 2px;
          background: #000;
          transition: transform 0.2s ease-in-out; }
        header #hdr-left #nav-trigger i::before, header #hdr-left #nav-trigger i::after {
          content: "";
          position: absolute; }
        header #hdr-left #nav-trigger i::before {
          transform: translate(-50%, -6px); }
        header #hdr-left #nav-trigger i::after {
          transform: translate(-50%, 6px); }
      header #hdr-left #nav-trigger.opened i {
        transform: translate(-50%, -50%) rotate(45deg); }
        header #hdr-left #nav-trigger.opened i::before {
          transform: translate(-50%, 0) rotate(-90deg); }
        header #hdr-left #nav-trigger.opened i::after {
          transform: translate(-50%, 0) rotate(270deg); }
  header #hdr-logo {
    grid-area: hdr-logo;
    position: relative;
    padding: 0 6px;
    border-radius: 3px;
    color: #000;
    white-space: nowrap;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    font-family: "Times New Roman", Times, serif;
    font-size: 32px;
    font-weight: bold; }
    header #hdr-logo::before {
      pointer-events: none;
      content: none;
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;
      width: 100%;
      height: 0;
      background: #bf2a32;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      transition: height 0.2s ease-in-out; }
    header #hdr-logo:hover {
      color: #bf2a32; }
      header #hdr-logo:hover::before {
        height: 100%; }
    header #hdr-logo:active {
      background: #bf2a32;
      color: #fff !important; }
    header #hdr-logo:hover {
      color: #bf2a32; }
    header #hdr-logo::before {
      background: #000; }
  header #hdr-nav {
    grid-area: hdr-nav;
    background: none !important;
    transition: background-color 0.2s ease-in-out; }
    header #hdr-nav a {
      position: relative;
      padding: 0 6px;
      border-radius: 3px;
      color: #000;
      white-space: nowrap;
      transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
      text-transform: uppercase;
      letter-spacing: 2px; }
      header #hdr-nav a::before {
        pointer-events: none;
        content: none;
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        width: 100%;
        height: 0;
        background: #bf2a32;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        transition: height 0.2s ease-in-out; }
      header #hdr-nav a:hover {
        color: #bf2a32; }
        header #hdr-nav a:hover::before {
          height: 100%; }
      header #hdr-nav a:active {
        background: #bf2a32;
        color: #fff !important; }
  header #hdr-right {
    display: none;
    grid-area: hdr-right; }
  header #hdr-mobile {
    display: none; }

footer {
  position: relative;
  z-index: 1;
  height: 40px;
  background: #fff;
  display: grid;
  grid-template-areas: "ftr-left ftr-nav ftr-right";
  grid-template-columns: 1fr 900px 1fr;
  align-items: center; }
  footer #ftr-left {
    grid-area: ftr-left; }
  footer #ftr-nav {
    grid-area: ftr-nav;
    max-width: 100vw; }
  footer #ftr-right {
    grid-area: ftr-right;
    position: relative; }
    footer #ftr-right a {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      display: inline-block;
      width: 75%;
      height: calc(40px - 6px);
      background: center/contain no-repeat;
      color: rgba(0, 0, 0, 0); }
      footer #ftr-right a::before {
        content: none; }
      footer #ftr-right a.hnya, footer #ftr-right a.kamon, footer #ftr-right a.store {
        background-image: url("../img/store/paypal.png"); }
      footer #ftr-right a.about {
        background-image: url("../img/about/nuotsu.png"); }

footer a, #hdr-mobile a {
  position: relative;
  padding: 0 6px;
  border-radius: 3px;
  color: #000;
  white-space: nowrap;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  font-size: 12px; }
  footer a::before, #hdr-mobile a::before {
    pointer-events: none;
    content: none;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 0;
    background: #bf2a32;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: height 0.2s ease-in-out; }
  footer a:hover, #hdr-mobile a:hover {
    color: #bf2a32; }
    footer a:hover::before, #hdr-mobile a:hover::before {
      height: 100%; }
  footer a:active, #hdr-mobile a:active {
    background: #bf2a32;
    color: #fff !important; }
footer .links, #hdr-mobile .links {
  float: left;
  width: 60%;
  text-align: left; }
  footer .links a, #hdr-mobile .links a {
    color: gray; }
    footer .links a:hover, #hdr-mobile .links a:hover {
      color: #fff; }
footer .social, #hdr-mobile .social {
  float: right;
  width: 40%;
  text-align: right; }
  footer .social a, #hdr-mobile .social a {
    display: inline-block;
    padding: 0 2px;
    width: 20px;
    height: 20px; }
    footer .social a img, #hdr-mobile .social a img {
      width: 20px;
      transition: filter 0.2s ease-in-out; }
    footer .social a:hover img, #hdr-mobile .social a:hover img {
      filter: brightness(2); }
    footer .social a.hidden, #hdr-mobile .social a.hidden {
      opacity: 0; }

main::after {
  pointer-events: none;
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.2s ease-in-out; }
main section {
  display: table;
  margin: 0 auto;
  padding: 20px 0 0 0;
  width: 900px;
  max-width: 100vw;
  border-bottom: 1px solid #eee; }
  main section:first-child {
    padding: 0; }
  main section:last-child {
    border: none; }
  main section > * {
    margin: 0 20px 20px 20px; }
  main section .sub-section p {
    margin: 0 0 20px 0; }
    main section .sub-section p:last-child {
      margin: 0; }
  main section .sub-section a {
    position: relative;
    color: #bf2a32; }
    main section .sub-section a.black {
      cursor: default; }
      main section .sub-section a.black::before {
        background: #000; }
  main section .sub-section img {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.2s ease-in-out;
    width: 460px; }
    main section .sub-section img:hover {
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); }
  main section .sub-section table {
    margin: 0 auto;
    max-width: calc(100vw - 40px); }
    main section .sub-section table td {
      padding: 0 4px; }
    main section .sub-section table.team td:nth-child(1) {
      text-align: right; }
    main section .sub-section table.team td:nth-child(2) {
      text-align: left; }
    main section .sub-section table.subscribe {
      width: 500px; }
      main section .sub-section table.subscribe input, main section .sub-section table.subscribe button {
        margin: 4px 0;
        padding: 10px 0;
        outline: none;
        border: none;
        border-radius: 4px;
        font-size: 16px; }
      main section .sub-section table.subscribe input {
        width: calc(100% - 2px);
        text-align: left;
        text-indent: 10px;
        border: 1px solid rgba(0, 0, 0, 0.05);
        background: #eee;
        transition: border 0.2s ease-in-out; }
        main section .sub-section table.subscribe input:focus {
          border: 1px solid #bf2a32; }
      main section .sub-section table.subscribe button {
        cursor: pointer;
        width: 100%;
        background: #bf2a32;
        color: #fff;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        transition: box-shadow 0.2s ease-in-out;
        transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out; }
        main section .sub-section table.subscribe button:hover {
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); }
        main section .sub-section table.subscribe button:active {
          background: #a10c14; }
  main section .sub-section.overflow {
    position: relative;
    z-index: 0;
    padding: 10px;
    max-height: 200px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    border-radius: 4px;
    background: #eee; }
    main section .sub-section.overflow h3 {
      display: table; }
    main section .sub-section.overflow p {
      text-align: left; }
main#home #accordion {
  margin: 0 auto;
  width: 900px;
  max-width: 100vw;
  text-align: center; }
  main#home #accordion figure {
    position: relative;
    float: center;
    display: inline-block;
    width: 5%;
    height: 100%;
    overflow: hidden;
    background: center/cover no-repeat;
    opacity: 0.5;
    transition: width 0.2s ease-in-out, height 0.2s ease-in-out, opacity 0.2s ease-in-out; }
    main#home #accordion figure.opened {
      width: calc(100% - 5% * 4); }
      main#home #accordion figure.opened .box {
        pointer-events: initial;
        opacity: 1; }
    main#home #accordion figure:hover, main#home #accordion figure.opened {
      opacity: 1; }
    main#home #accordion figure:nth-child(3) .box {
      display: none; }
    main#home #accordion figure .box {
      pointer-events: none;
      opacity: 0;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      display: inline-block;
      width: 200px;
      height: 200px;
      max-height: 90%;
      border: 1px solid #fff;
      background: rgba(0, 0, 0, 0.2);
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
      transition: box-shadow 0.2s ease-in-out;
      transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
      transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out, opacity 0.2s ease-in-out; }
      main#home #accordion figure .box:hover {
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); }
      main#home #accordion figure .box:hover {
        transform: translate(-50%, -50%) scale(1.03); }
      main#home #accordion figure .box span {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        font-size: 26px;
        text-transform: uppercase;
        letter-spacing: 2px; }
main#collection {
  position: relative; }
  main#collection [collection] {
    position: relative;
    float: left;
    width: 50vw;
    height: calc(100vh - 80px - 40px); }
    main#collection [collection] .box {
      opacity: 0;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      display: inline-block;
      width: 200px;
      height: 200px;
      max-height: 90%;
      border: 1px solid #fff;
      background: rgba(0, 0, 0, 0.2);
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
      transition: box-shadow 0.2s ease-in-out;
      transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
      transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out, opacity 0.2s ease-in-out; }
      main#collection [collection] .box:hover {
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); }
      main#collection [collection] .box:hover {
        transform: translate(-50%, -50%) scale(1.03); }
      main#collection [collection] .box span {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        font-size: 26px;
        text-transform: uppercase;
        letter-spacing: 2px; }
      main#collection [collection] .box.appear {
        opacity: 1; }
  main#collection #bg {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    background: center/cover no-repeat;
    transition: background-image 0.2s ease-in-out; }
    main#collection #bg.left {
      background-image: url("../img/collection/collection-1.jpg"); }
    main#collection #bg.right {
      background-image: url("../img/collection/collection-2.jpg"); }
main#hnya section {
  position: relative;
  width: 100vw;
  border: none; }
  main#hnya section .sub-section {
    margin: 0 auto;
    width: 750px;
    max-width: 100vw; }
  main#hnya section.top {
    min-height: calc(100vh - 80px); }
    main#hnya section.top .sub-section {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%); }
      main#hnya section.top .sub-section img {
        margin: 20px 0;
        max-width: 100%;
        box-shadow: none; }
      main#hnya section.top .sub-section p {
        padding: 0 20px; }
  main#hnya section.bottom {
    background: #eee; }
    main#hnya section.bottom .ig-user > * {
      vertical-align: middle; }
    main#hnya section.bottom .ig-user img {
      width: 30px;
      height: 30px;
      border-radius: 30px;
      border: 1px solid #fff; }
    main#hnya section.bottom .ig-user span {
      font-size: 24px; }
    main#hnya section.bottom .ig-user.ig-user-title {
      display: block;
      padding: 0 40px;
      width: 750px;
      max-width: calc(100vw - 80px);
      text-align: left; }
      main#hnya section.bottom .ig-user.ig-user-title span {
        z-index: 0;
        position: relative;
        padding: 0 6px;
        border-radius: 3px;
        color: #000;
        white-space: nowrap;
        transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out; }
        main#hnya section.bottom .ig-user.ig-user-title span::before {
          pointer-events: none;
          content: none;
          position: absolute;
          left: 0;
          top: 0;
          z-index: -1;
          width: 100%;
          height: 0;
          background: #bf2a32;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
          transition: height 0.2s ease-in-out; }
        main#hnya section.bottom .ig-user.ig-user-title span:hover {
          color: #bf2a32; }
          main#hnya section.bottom .ig-user.ig-user-title span:hover::before {
            height: 100%; }
        main#hnya section.bottom .ig-user.ig-user-title span:active {
          background: #bf2a32;
          color: #fff !important; }
    main#hnya section.bottom .ig-posts .post {
      float: center;
      display: inline-block;
      margin: 10px;
      width: 200px;
      height: 200px;
      max-width: calc(100vw - 20px);
      background: linear-gradient(#ec4316, #bf2a32);
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
      transition: box-shadow 0.2s ease-in-out; }
      main#hnya section.bottom .ig-posts .post:hover {
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); }
      main#hnya section.bottom .ig-posts .post > * {
        position: absolute;
        left: 0;
        top: 0;
        display: inline-block;
        width: 100%;
        height: 100%; }
      main#hnya section.bottom .ig-posts .post .img {
        background: center/cover no-repeat;
        transition: opacity 0.2s ease-in-out; }
      main#hnya section.bottom .ig-posts .post .info {
        pointer-events: none;
        position: relative;
        color: #fff;
        opacity: 0;
        transition: opacity 0.2s ease-in-out; }
        main#hnya section.bottom .ig-posts .post .info .ig-user {
          position: absolute;
          left: 10px;
          top: 10px; }
        main#hnya section.bottom .ig-posts .post .info .likes {
          position: absolute;
          right: 10px;
          bottom: 10px;
          font-size: 40px; }
          main#hnya section.bottom .ig-posts .post .info .likes::before {
            content: "♡";
            margin: 0 4px 0 0;
            font-size: 32px; }
      main#hnya section.bottom .ig-posts .post:hover .img {
        opacity: 0.5; }
      main#hnya section.bottom .ig-posts .post:hover .info {
        opacity: 1; }
    main#hnya section.bottom .ig-more {
      display: table;
      margin: 10px auto 20px auto;
      color: #bf2a32;
      font-size: 24px; }
main#kamon .half-section {
  width: calc(50% - 40px); }
  main#kamon .half-section.left {
    float: left; }
  main#kamon .half-section.right {
    float: right; }
  main#kamon .half-section:nth-child(2) * {
    text-align: left; }
  main#kamon .half-section h1 {
    margin: 0 0 20px 0; }
  main#kamon .half-section img {
    width: 100%; }
  main#kamon .half-section ol {
    list-style-position: inside; }
  main#kamon .half-section a {
    color: #bf2a32; }
main#store .store {
  margin: 0 auto;
  width: 900px;
  max-width: 100vw;
  text-align: left; }
  main#store .store [product] {
    cursor: pointer;
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin: 10px;
    border-radius: 3px;
    border: 1px solid #eee;
    overflow: hidden; }
    main#store .store [product][newProd]::after {
      content: "NEW!!";
      position: absolute;
      top: 0;
      right: 4px;
      transform: translate(0, -150%);
      padding: 0 6px;
      border-radius: 0 0 3px 3px;
      background: linear-gradient(#ec4316, #bf2a32);
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      color: #fff;
      animation: appearNew 0.2s ease-out 1s forwards; }
@keyframes appearNew {
  to {
    transform: translate(0, 0); } }
    main#store .store [product]:hover {
      border: 1px solid #bf2a32; }
    main#store .store [product] p {
      padding: 0 10px;
      background: #eee; }
    main#store .store [product] .prod-img {
      position: relative;
      display: inline-block;
      margin: 0 0 -5px 0;
      width: 250px;
      height: 250px;
      border-radius: 3px 3px 0 0;
      background: center/contain no-repeat; }
    main#store .store [product] .prod-category,
    main#store .store [product] .prod-price {
      position: absolute;
      left: 0;
      top: 250px;
      transform: translate(0, calc(-100% - 8px));
      margin: 4px;
      border-radius: 3px;
      background: rgba(238, 238, 238, 0.5); }
    main#store .store [product] .prod-category {
      display: none; }
    main#store .store [product] .prod-price {
      left: initial;
      right: 0;
      background: rgba(0, 0, 0, 0.5);
      color: #fff; }
    main#store .store [product] .prod-name {
      padding: 8px 0 4px 0;
      height: 36px; }
  main#store .store h3 {
    position: relative;
    margin: 10px 0; }
    main#store .store h3 span {
      text-transform: uppercase; }
    main#store .store h3::before, main#store .store h3::after {
      content: "";
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      width: 42.5%;
      height: 1px; }
    main#store .store h3::before {
      left: 0;
      background: linear-gradient(90deg, #bf2a32, #bf2a32, #bf2a32, rgba(0, 0, 0, 0)); }
    main#store .store h3::after {
      right: 0;
      background: linear-gradient(270deg, #bf2a32, #bf2a32, #bf2a32, rgba(0, 0, 0, 0)); }
main#store .prod-preview {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
  background: rgba(0, 0, 0, 0.5); }
  main#store .prod-preview aside {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 50px 30px;
    width: 75%;
    max-width: calc(90vw - 60px);
    max-height: calc(70vh - 100px);
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    border: 1px solid #eee;
    border-radius: 3px;
    background: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    animation: appearProdPrev 0.3s ease-in-out forwards; }
    main#store .prod-preview aside[newProd]::after {
      content: "NEW!!";
      position: absolute;
      top: 0;
      right: 4px;
      transform: translate(0, -150%);
      padding: 0 6px;
      border-radius: 0 0 3px 3px;
      background: linear-gradient(#ec4316, #bf2a32);
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      color: #fff;
      animation: appearNew 0.2s ease-out 1s forwards; }
@keyframes appearNew {
  to {
    transform: translate(0, 0); } }
@keyframes appearProdPrev {
  from {
    transform: translate(-50%, -150%); }
  to {
    transform: translate(-50%, calc(-50% + 20px)); } }
    main#store .prod-preview aside[newProd]::after {
      transform: translate(0, 0); }
    main#store .prod-preview aside .prod-name {
      margin: 0 0 15px 0; }
      main#store .prod-preview aside .prod-name .prod-price {
        display: inline-block;
        margin: 0 6px;
        padding: 0 12px;
        border-radius: 3px;
        background: #000;
        color: #fff;
        font-weight: normal; }
    main#store .prod-preview aside .prod-img {
      float: left;
      position: relative;
      display: inline-block;
      width: 300px;
      height: 300px;
      max-width: 50%;
      border: 1px solid #bf2a32;
      border-radius: 3px;
      background: center/contain no-repeat; }
      main#store .prod-preview aside .prod-img .prod-img-carousel {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%; }
        main#store .prod-preview aside .prod-img .prod-img-carousel i {
          cursor: pointer;
          position: relative;
          float: left;
          display: inline-block;
          margin: 0 2px;
          height: 20px; }
          main#store .prod-preview aside .prod-img .prod-img-carousel i::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 4px;
            width: 100%;
            height: 8px;
            background: rgba(0, 0, 0, 0.25); }
          main#store .prod-preview aside .prod-img .prod-img-carousel i:hover::after {
            background: linear-gradient(#ec4316, #bf2a32) !important; }
          main#store .prod-preview aside .prod-img .prod-img-carousel i.active::after {
            background: #bf2a32; }
    main#store .prod-preview aside .prod-info {
      float: right;
      margin: 0 10px;
      padding: 20px 0 0 0;
      width: calc(100% - 300px - 30px);
      min-width: 50%; }
      main#store .prod-preview aside .prod-info p {
        margin: 0 0 1em 0;
        text-align: left; }
      main#store .prod-preview aside .prod-info .purchase {
        text-align: center; }
        main#store .prod-preview aside .prod-info .purchase > * {
          display: inline-block;
          margin: 4px;
          max-width: 90%;
          font-size: 18px; }
        main#store .prod-preview aside .prod-info .purchase b {
          position: relative; }
          main#store .prod-preview aside .prod-info .purchase b select {
            -webkit-appearance: none;
            outline: none;
            padding: 2px 6px;
            border: none;
            border-radius: 3px;
            background: #000;
            color: #fff;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
            transition: box-shadow 0.2s ease-in-out;
            font-size: 18px; }
            main#store .prod-preview aside .prod-info .purchase b select:hover {
              box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); }
          main#store .prod-preview aside .prod-info .purchase b .select_arrows {
            pointer-events: none;
            position: absolute;
            right: 2px;
            top: 50%;
            transform: translate(0, -50%);
            color: rgba(255, 255, 255, 0.5);
            font-size: 10px; }
        main#store .prod-preview aside .prod-info .purchase .sizeChart {
          margin: 4px 4px 4px 0; }
        main#store .prod-preview aside .prod-info .purchase .buy {
          padding: 2px 6px;
          border: none;
          border-radius: 3px;
          background: #bf2a32;
          color: #fff;
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
          transition: box-shadow 0.2s ease-in-out; }
          main#store .prod-preview aside .prod-info .purchase .buy:hover {
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); }
        main#store .prod-preview aside .prod-info .purchase .special {
          color: gray; }
        main#store .prod-preview aside .prod-info .purchase[variations="noVariation"] select,
        main#store .prod-preview aside .prod-info .purchase[variations="noVariation"] .sizeChart {
          display: none; }
  main#store .prod-preview .prod-preview-close {
    cursor: pointer;
    position: absolute;
    left: 50px;
    top: 20px;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background: #000;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.2s ease-in-out; }
    main#store .prod-preview .prod-preview-close:hover {
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); }
    main#store .prod-preview .prod-preview-close::before, main#store .prod-preview .prod-preview-close::after {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      width: calc(40px * .5);
      height: 2px;
      background: #fff;
      transform: translate(-50%, -50%) rotate(45deg); }
    main#store .prod-preview .prod-preview-close::after {
      transform: translate(-50%, -50%) rotate(-45deg); }
  main#store .prod-preview .prod-preview-bg {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1; }

@media (max-width: 500px) {
  header {
    grid-template-areas: "hdr-left hdr-logo hdr-right";
    z-index: 1; }
    header.opened {
      background: #fff !important; }
    header #hdr-left #nav-trigger {
      display: block; }
    header #hdr-logo.opened {
      color: #bf2a32; }
    header #hdr-nav {
      position: absolute;
      top: 100%;
      z-index: 1;
      width: 100vw;
      height: auto;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
      background: #fff !important; }
      header #hdr-nav a {
        display: table;
        margin: 10px auto;
        font-size: 24px; }
      header #hdr-nav.opened {
        z-index: 0;
        padding: 0 0 10px 0;
        max-height: 384px;
        border-bottom: 1px solid #eee;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1); }
    header #hdr-right {
      display: initial; }
    header #hdr-mobile {
      display: initial; }
      header #hdr-mobile a {
        font-size: 18px;
        color: gray !important; }
        header #hdr-mobile a img {
          filter: initial !important; }
      header #hdr-mobile .links, header #hdr-mobile .social {
        float: initial;
        width: initial;
        text-align: center; }

  footer {
    display: none;
    height: 0; }

  main.opened {
    position: relative; }
    main.opened::after {
      pointer-events: initial;
      opacity: 1; }
  main section .sub-section.with-img {
    margin: 0 0 20px 0; }
    main section .sub-section.with-img img {
      width: 100%; }
  main#home #accordion figure {
    display: block;
    width: 100%;
    height: 10%; }
    main#home #accordion figure.opened {
      width: 100%;
      height: calc(100% - 10% * 4); }
  main#collection [collection] {
    width: 100vw;
    height: calc((100vh - 80px) / 2); }
  main#collection #bg.left {
    background-image: url("../img/collection/collection-1-mobile.jpg"); }
  main#collection #bg.right {
    background-image: url("../img/collection/collection-2-mobile.jpg"); }
  main#hnya section.bottom .ig-user.ig-user-title {
    padding: 0 10px; }
  main#hnya section.bottom .ig-posts .post {
    float: center;
    margin: 10px 0;
    width: 100vw;
    height: 100vw; }
  main#kamon .half-section {
    float: initial !important;
    width: 100vw; }
    main#kamon .half-section:nth-child(1) {
      margin: 0; }
    main#kamon .half-section:nth-child(2) {
      width: calc(100vw - 40px); }
  main#store .store {
    text-align: center; }
  main#store [product] {
    width: calc(100vw - 40px);
    border: 1px solid #eee !important; }
  main#store .prod-preview aside {
    padding: 10px;
    max-width: 95vw;
    max-height: 80vh;
    transform: translate(-50%, 110%); }
  main#store .prod-preview .prod-info .purchase {
    text-align: center; }
    main#store .prod-preview .prod-info .purchase b {
      width: 100%; }
    main#store .prod-preview .prod-info .purchase select#color {
      width: 90%; }
    main#store .prod-preview .prod-info .purchase select#size {
      width: calc(90% - 10px); }
    main#store .prod-preview .prod-info .purchase .buy {
      display: table;
      margin: 4px auto;
      width: calc(90% - 11px); }
  main#store .prod-preview .prod-preview-close {
    left: 10px; } }
@media (max-width: 858px) {
  main#store .prod-preview aside .prod-img,
  main#store .prod-preview aside .prod-info {
    margin: 0 auto;
    width: 100%;
    max-width: 100%; }
  main#store .prod-preview aside .prod-info {
    margin: 10px auto 0 auto; } }
@media (min-width: 500px) {
  [hover-underline]::before, [hover-underline]::after {
    content: "" !important; }

  #hdr-logo::before,
  #hdr-nav a::before,
  footer .links a::before, #hdr-mobile a::before,
  section .sub-section a::before,
  .ig-user-title span::before,
  .ig-more::before,
  .half-section a::before {
    content: none; }
  #hdr-logo:hover,
  #hdr-nav a:hover,
  footer .links a:hover, #hdr-mobile a:hover,
  section .sub-section a:hover,
  .ig-user-title span:hover,
  .ig-more:hover,
  .half-section a:hover {
    color: #bf2a32 !important; }

  footer .social a::before {
    content: "" !important;
    background: #bf2a32; } }
@supports (-webkit-backdrop-filter: blur(10px) saturate(1.8)) {
  header, main::after, .prod-preview {
    background: rgba(255, 255, 255, 0.9) !important;
    -webkit-backdrop-filter: blur(10px) saturate(1.8); }

  main::after, .prod-preview {
    background: rgba(0, 0, 0, 0.5) !important; }

  header {
    border-bottom: 1px solid rgba(0, 0, 0, 0) !important;
    transition: border 0.2s ease-in-out; }
    header.scrolled {
      box-shadow: none !important;
      border-bottom: 1px solid #eee !important; } }

/*# sourceMappingURL=styles.css.map */
